<section class="profile">
	<section class="name"><%=child.name%></section>
		<small><%=link_to "Edit this profile", edit_child_path(child)%></small>
				
		<p>Birthday: <%=fix_date(child)%></p>

		<p><%=eye_check(child)%></p>
				
		<p><%=hair_check(child)%></p>

		<p><%=gender_check(child)%></p>

		<%if child.cards.exists? %>
		<h4>Select an age to see:</h4>	
			<%child.ordered.each do |card|%>
			<%=link_to short_age(card), child_card_path(child.id, card.id)%>  	&nbsp;
			<%end%>	
		<%end%>
</section>