<section class="profile">
	<section class="name"><%=child.name%></section>
		<small><%=link_to "Edit or Delete this profile", edit_child_path(child)%></small>
				
		<p>Birthday: <%=fix_date(child)%></p>

		<p><%=eye_check(child)%></p>
				
		<p><%=hair_check(child)%></p>

		<p><%=gender_check(child)%></p>

		<br>
		<%if child.cards.exists? %>
		<div id="age">
			<h4>Select an age to see:</h4>	
			<%child.ordered.each do |card|%>
			<small><%=link_to short_age(card), child_card_path(child.id, card.id) %>  	&nbsp;</small>
		<%end%>
			</div> 
	<%end%>
	<br><br>

	<%current_user.children.each do |child_check|%>

		<%if child_check.id != child.id%>
			<small>Jump to <%=link_to "#{child_check.name}'s Cards", child_card_path(child_check.id,child_check.latest_card)%></small><br>
		<%end%>
	<%end%>	

</section>