<%if @children.exists?%>		
<%@children.each do |child|%>	
	
			<%if !child.cards.exists? %>
			<div class="border-form">
				
					<h2><%=link_to child.name, child_path(child)%></h2>
					

					<h4><%=fix_date(child)%></h4>
					<h4><%=child.eye_color%></h4>
					<h4><%=child.hair_color%></h4>
					<h4><%=child.gender%></h4>
					<h6><%=link_to "edit this profile", edit_child_path(child)%></h6><br>

					
					<h4><%=link_to "Create a card for #{child.name}", new_child_card_path(child)%></h4>
					</div>
				

				<%else%>


				<div class="border-form">


				<h2><%=link_to child.name, child_path(child)%> </h2>
				<sm><%=link_to "edit this profile", edit_child_path(child)%></sm> <br>


				<h3>Birthday: <%=fix_date(child)%></h3>
				
				<h3><%=child.gender%></h3>
				
				<h3> Age: <%=child.latest_card.age%> </h3>	

				<%if child.latest_card.weight_check%>
					<h3>Weight: <%=child.latest_card.weight %><h3>
				<%end%>

				<%if child.latest_card.height_check%>
					<h3>Height: <%=child.latest_card.height%><h3>
				<%end%>

				<%if child.latest_card.advil_check%>
					<h3>Advil dosage: <%=child.latest_card.advil_dosage%> mL<h3>
				<%end%>

				<%if child.latest_card.tylenol_check%>
					<h3>Tylenol dosage: <%=child.latest_card.tylenol_dosage%> mL<h3>
				<%end%>

				<h3><%=flu_shot_given(child.latest_card)%></h3>

	
				<h4>Select an age to see:</h4>	
				<%child.ordered.each do |card|%>
					<%=link_to card.short_age, child_card_path(child.id, card.id)%>  	&#9702;
				<%end%>	
				<%end%>

				</div>
								
			
			<%end%>

			</div>
		
			
				<%else%>
				<div class="border-form">
					<h3>Welcome to SproutHQ</h3>
					<h5>Get started by <%=link_to "creating your child's profile", new_child_path %></h5>
				</div>
				<%end%>
	</div>