	<%if @children.exists?%>

			
			<div class="border-form">	

			<%@children.each do |child|%>

				<h2><%=link_to child.name, child_path(child)%></h2> <br>
				
				<%= form_for child do |profile| %>
					<%= render partial: 'profile', locals: {profile: profile} %> <br><br>
				<%=profile.submit%><br><br><br><br>

				
					<%= form_tag child_path(child.id), method: "delete" %>
					<%= submit_tag "DELETE this profile" %> <br><br


			<%end%>
			<%end%>

			</div>
				
	<%else%>
	<h2>Welcome to SproutHQ</h2>
	<h4>Get started by <%=link_to "creating your child's profile", new_child_path %></h4>

	<%end%>


