<%if @children.exists?%>		
<%@children.each do |child|%>	
	
	<%if !child.cards.exists? %>
		<div class="container" class="clearfix">
			<%= render partial: 'profile_view', :locals => {child: child}%>	
			<section class = "stats">
				There are no cards for <%=child.name%> yet.
				<h4><%=link_to "Create a card for #{child.name}", new_child_card_path(child)%></h4>
			</section>
		</div>

	<%else%>
		<div class="container" class="clearfix">
			<%= render partial: 'profile_view', :locals => {child: child}%>
			<section class = "stats">
				<h5> <%=child.name%>'s most recent stats : </h5>
				<%= render partial: '/cards/show_card', :locals => {:child => child, :card => child.latest_card} %>
			<%end%>	
		</div>			
	<%end%>

	<%else%>
		<div class="container" class="clearfix">
			<h3>Welcome to SproutHQ</h3>
			<h5>Get started by <%=link_to "creating your child's profile", new_child_path %></h5>
		</div>
	<%end%>