	<%if @children.exists?%>

			<%@children.each do |child|%>
			<div class="border-form">	

				<h2><%=link_to child.name, child_path(child)%></h2> <br>
				<h3><%=child.birthday%></h3>
				<h3><%=child.gender%></h3>

				<h3> Age: <%=child.latest_card.age%> </h3>
				
				<h3>Weight: <%=child.latest_card.weight%><h3>
						<h3>Height: <%=child.latest_card.height%><h3>
						<h3>Advil dosage: <%=child.latest_card.advil_dosage%> ML<h3>
						<h3>Tylenol dosage: <%=child.latest_card.tylenol_dosage%> ML<h3>

							<%if child.latest_card.flu_shot == true%>
								<h3>Flu shot ? Yes!</h3>
							<%else%>
								<h3>Flu shot? Not yet</h3>
							<%end%>

							<h4>Select an age to see:</h4>
				
						<%child.cards.each do |card|%>



			
				<%=link_to card.age, child_card_path(child.id, card.id)%>  	&#9702; 
					
					<%end%>		
			</div>
	<%end%>

	<%else%>
		<h2>Welcome to SproutHQ</h2>
		<h4>Get started by <%=link_to "creating your child's profile", new_child_path %></h4>
	<%end%>

