
 <div class = "border-form">
<%= form_for @child do |f| %>
 <%= f.label :name %>
 <%= f.text_field :name %><br>

 <%= f.label :birthday %>
 <%= f.text_field :birthday %><br>

 <%= f.label :gender %>
 <%= f.text_field :gender %><br>
  
 <%=f.fields_for :ages do |age| %>
 	<%=age.label :year%>
 	<%=age.text_field :year%>

 	<%=age.label :months%>
 	<%=age.text_field :months%>

 	<%=age.label :height%>
 	<%=age.text_field :height%>

 	<%=age.label :weight%>
 	<%=age.text_field :weight%>

 	<%=age.label :advil_dosage%>
 	<%=age.text_field :advil_dosage%>

 	<%=age.label :tylenol_dosage%>
 	<%=age.text_field :tylenol_dosage%>

 	<%=age.label :flu_shot%>
 	<%=age.text_field :flu_shot%>

 	<%end%>

<%= f.submit %>

<% end %>

</div>


