
 <div class = "border-form">
<%= form_for @child do |f| %>
 <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%=f.label :gender %>
  <%=f.text_field :gender%>
 
  
   
 
  <%= f.submit %>
<% end %>

</div>




