<%if !current_user%>
	Please <a href="http://localhost:3000/users/sign_in"> sign in</a> to continue.
<%end%>


<%if current_user && current_user.many_kids %>
	<%current_user.children.each do |kid| %>
		<%kid.ages.each do |age|%>
		<div class="border-form">
			<h3><%=kid.name%></h3> <br>
			<h4><%=link_to "Create a new card for #{kid.name}", new_age_path%>
				<h4>or select a age to edit that card</h4>
				<%= form_for kid do |f| %>
      		 <%= f.collection_select :ages, kid.ages.all, :id, :year %>
      		 <%=f.submit%>
    		<% end %>
    		</div>
		<%end%>
	<%end%>
	
<%end%>


