      <div>
        <%=f.label :age%>
        <h6>Years: <%=f.select(:years, @year_options)%></h6>
        <h6>Months: <%=f.select(:months, @month_options)%></h6>
        
      </div>
       

        <%=f.label :height%>
        <%=f.text_field :height%>

        <%=f.label :weight%>
        <%=f.text_field :weight%>

        <%=f.label :advil_dosage%> 
        <%=f.text_field :advil_dosage%> mL

        <%=f.label :tylenol_dosage%> 
        <%=f.text_field :tylenol_dosage%> mL <br>

        
        Flu Shot?   
          Yes <%= f.radio_button :flu_shot, true %> 
          No  <%= f.radio_button :flu_shot, false %> <br><br>
        
  
