      <div>
        <%=f.label :age%>
        <h6>Years: <%=f.select(:years, @year_options)%></h6>
        <h6>Months: <%=f.select(:months, @month_options)%></h6>
        
      </div>
       

        <%=f.label :height%>
        <%=f.text_field :height%>

        <%=f.label :weight%>
        <%=f.text_field :weight%>

        <%=f.label :advil_dosage%> 
        <%=f.number_field :advil_dosage, :class => 'text_field', :step => 0.01%> mL

        <%=f.label :tylenol_dosage%> 
        <%=f.number_field :tylenol_dosage, :class => 'text_field', :step => 0.01%> mL <br>

        Flu Shot?   
          Yes <%= f.radio_button :flu_shot, true %> 
          No  <%= f.radio_button :flu_shot, false %> <br><br>

        <%= f.collection_check_boxes :milestone_ids, Milestone.all, :id, :title %><br>
        
        <%= f.fields_for :milestones, @card.milestones.build do |milestone| %>
          <%= milestone.label "Create your own milestone"%>
          <%= milestone.text_field :title%>
        <% end %>


        

