		<h3>Birthday: <%=fix_date(@child)%></h3>

		<h3><%=@child.gender%></h3>
		
		<h3> Age: <%=@card.age%> </h3>

		<h3> <%=height_check(@card)%></h3>
		
		<h3> <%=weight_check(@card)%><h3>

		<h3> <%=advil_check(@card)%></h3>

		<h3> <%=tylenol_check(@card)%></h3>
	
		<h3><%=flu_shot_given(@card)%></h3>

		<h4>Select an age to see:</h4>	

		<%@child.ordered.each do |card|%>

			<%=link_to card.short_age, child_card_path(@child.id, card.id)%>  	&#9702;
		<%end%>		
		<br><br>

		 <%= link_to 'Edit this card', edit_child_card_path(@child.id, @card.id), method: "get"%>


		<br><br><br><br>
		<%= form_tag child_card_path(@child.id, @card.id), method: "delete" %>
			<%= submit_tag "DELETE this card" %>
