		
		<%if card.image.exists? %>
		<div class="field">
     <%= image_tag card.image.url(:thumb) %>
   </div>
   <%end%>
   
		<h3 class = "age"> Age: <%=card.age%> </h3>

		<p class = "height"> <%=height_check(card)%></p>
		
		<p class = "weight"> <%=weight_check(card)%></p>

		<p class = "advil"> <%=advil_check(card)%></p>

		<p class = "tylenol"> <%=tylenol_check(card)%></p>
	
		<p class = "flu"><%=flu_shot_given(card)%></p>

		<small><%= link_to 'Edit or Delete this card', edit_child_card_path(child.id, card.id), method: "get"%></small><br><br>


		</section>

		<section class="milestones">
			<%if card.milestones.exists?%>
		<b>Here are some milestones <%=child.name%> reached at this age : </b><br>
		<%card.milestones.each do |milestone|%>
			<small><%=milestone.title%>&emsp;</small> 
			<br>
		<%end%>
			<%else%>
			<p> There are no milestones for this age. Select or create milestones <%= link_to 'here', edit_child_card_path(child.id, card.id), method: "get"%>.  </p>
				
				<%end%>
	</section>






		
