		<%if card.image.exists? %>
		<div class="field">
    <%= image_tag card.image.url(:thumb) %>
   </div>
   <%else %>
   	<div class = "field"></div>
   <%end%>


   <div>
   
		<h3 class = "age"><%=card.age%> old</h3>

		<p class = "height"><%=height_check(card)%></p>
		
		<p class = "weight"><%=weight_check(card)%></p>

		<p class = "advil"><%=advil_check(card)%></p>

		<p class = "tylenol"> <%=tylenol_check(card)%></p>
	
		<p class = "flu"> <%=flu_shot_given(card)%></p>

	</div>

		<small class = "cardLink"><%= link_to 'Edit or Delete this card', edit_child_card_path(child.id, card.id), method: "get"%></small><br><br>


		</section>






		
