<section class="milestones">
	
	<div class = "stonehead"></div>

	<section class="stones">
		
		<%if @card.milestones.exists?%>
			<b>Here are some milestones <%=@child.name%> reached at this age : </b><br>
			<%@card.milestones.each do |milestone|%>
			<small><%=milestone.title%>&emsp;</small><br>
			<%end%>
		
		<%else%>
			<p> There are no milestones for this age. </p>
		<%end%>
		
	</section>

  <%= form_for @card, url: child_card_path, html: { multipart:true, class: "create_milestone", id: "create_milestone" } do |card| %>	
		<%@card.js = "true"%>
		<%=card.hidden_field :js, class:"js" %>
  	<%= card.fields_for :milestones, @card.milestones.build do |milestone| %>
    	<br><br><small><%= milestone.label "Create a Milestone for this card"%></small><br>
    	<%= milestone.text_field :title%><br>
    	
    	<%= milestone.hidden_field :js, :value => @card.js %>
    	<%= card.submit %>
    
		<%end%>
	<%end %>


</section>
	
