
				<%if @card.milestones.exists?%>
				<b>Here are some milestones <%=@child.name%> reached at this age : </b><br>
	
		<%@card.milestones.each do |milestone|%>
					
			<small><%=milestone.title%>&emsp;</small> 
			<br>
		<%end%>
			<%else%>
				<p> There are no milestones for this age. </p>
				
			<%end%>
		
       <div class = "milestoneform">
       	<%= f.fields_for :milestones, @card.milestones.build do |milestone| %>
          <br><br><small><%= milestone.label "Create a Milestone for this card"%></small><br>
          <%= milestone.text_field :title%><br>
          
         </div> 

<%end%>	