<%= render partial: 'error', locals: {f: @card} %>

<div class = "border-form">
<%= form_for @card, :url => child_card_path(@child, @card) do |card| %>
  
    <h3 >Update card for <%=@child.name%>:</h3>
      <%= render partial: 'form', locals: {f: card} %>
      <%= card.submit %>
<% end %><br><br>

<%= form_tag child_card_path(@child.id, @card.id), method: "delete" %>
			<%= submit_tag "DELETE this card" %>

  </div>