<%= form_for @card, url: child_card_path(@child, @card) do |f| %>

<% if @child.errors.any? %>
  < <div id="error_explanation" align=center>
          <h4 >One moment please... there is a problem:</h4>
          <ul>
            <%@child.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <%end %>
      <%end%>
          </ul>
  </div>


<div class = "border-form">
  <h3 >Update card for <%=@child.name%>:</h3>
  
   
    
      
        <%=f.label :age%>
        <%=f.text_field :age%>

        <%=f.label :height%>
        <%=f.text_field :height%>

        <%=f.label :weight%>
        <%=f.text_field :weight%>

        <%=f.label :advil_dosage%> 
        <%=f.text_field :advil_dosage%> mL

        <%=f.label :tylenol_dosage%> 
        <%=f.text_field :tylenol_dosage%> mL <br>

        
        Flu Shot?   
          Yes <%= f.radio_button :flu_shot, true %> 
          No  <%= f.radio_button :flu_shot, false %> <br><br>
        
   
    <%= f.submit %>
  <% end %>

</div>