<%if !current_user%>
	Please <a href="http://localhost:3000/users/sign_in"> sign in</a> to continue.
<%end%>


<%if current_user  %>
	<%current_user.children.each do |kid| %>
		<div class="border-form">
			<!-- nested resources in routes  -->
			<h3><%=kid.name%></h3> <br>
			<h4><%=link_to "Create a new card for #{kid.name}", new_child_card_path(kid)%>

				<h4>or select an age to edit :</h4>
			<!-- 	get request user - form tag helper - collection select tag -->

			<%= form_for :child do |f| %>
               <%= f.collection_select :cards, kid.cards.all, :id, :age %>
               <%=f.submit%>
            <% end %>
            </div>
        <%end%>
       
<%end%>
