<%= render partial: 'error', locals: {f: @child} %>

<%= form_for @card, :url => child_cards_path, html: { multipart: true } do |card| %>

  <div class = "border-form">
    <h3 >Create a new card for <%=@child.name%>:</h3>
      <%= render partial: 'form', locals: {f: card} %>
      
     <%= card.submit %><br><br><br>
      <small>*required field</small><br><br><br>
<% end %>

  </div>