

<div class = "border-form">
   <h4>Create a new card for <%=@child.name%></h4>

  <%= form_tag child_cards_path do |f| %>

  <label>Age:</label><br>
  <%= text_field_tag :'card[age]' %><br>

  <label>Height:</label><br>
  <%= text_field_tag :'card[height]' %><br>

  <label>Weight:</label><br>
  <%= text_field_tag :'card[weight]' %><br>

  <label>Advil Dosage:</label><br>
  <%= text_field_tag :'card[advil_dosage]' %><br>

  <label>Tylenol Dosage:</label><br>
  <%= text_field_tag :'card[tylenol_dosage]' %><br>

  <label>Flu Shot:</label><br>
  <%= text_field_tag :'card[flu_shot]' %><br>
 
  <%= submit_tag "Create Card" %>
        

  <% end %>

</div>
