	<h2>Create a new card for <%=@child.name%></h2>
<div class = "border-form">
	<%= form_for @child do |f| %>
	 
	 <%= f.label :birthday %>
	 <%= f.text_field :birthday %><br>

	 <%= f.label :gender %>
	 <%= f.text_field :gender %><br>
	  
	 		<%=f.fields_for :cards do |card| %>
	 		
		 		<%=card.label :age%>
		 		<%=card.text_field :age%>

		 		<%=card.label :height%>
		 		<%=card.text_field :height%>

		 		<%=card.label :weight%>
		 		<%=card.text_field :weight%>

		 		<%=card.label :advil_dosage%>
		 		<%=card.text_field :advil_dosage%>

		 		<%=card.label :tylenol_dosage%>
		 		<%=card.text_field :tylenol_dosage%>

		 		<%=card.label :flu_shot%>
		 		<%=card.text_field :flu_shot%>
	 		<%end%>
		<%= f.submit %>
	<% end %>

</div>

