<%= render partial: 'error', locals: {child: @child} %>

<%= form_for @card, :url => child_cards_path do |card| %>
  <div class = "border-form">
    <h3 >New card for <%=@child.name%>:</h3>
      <%= render partial: 'form', locals: {f: card} %>
      <%= card.submit %>
<% end %>

  </div>