	<%if not_allowed(current_user, @child)%>
			<h5 align=center>You aren't allowed to view this page. <br>
				<%=link_to "Sign in", new_user_session_path%> or
  	    <%=link_to "Sign up", new_user_registration_path%></h5>
	<%else%>


<div class="container" class="clearfix">

	
	<%= render partial: '/children/profile_view', :locals => {child: @child}%>
		 

	<section class="stats">
	

	<%= render partial: 'show_card', :locals => {:child => @child, :card => @card} %>

	</section>
	
<%= render partial: 'show_milestone', :locals => {:child => @child, :card => @card} %>		

<%end%>