<div class="border-form">
	<%if !current_user%>
		Please <a href="http://localhost:3000/users/sign_in"> sign in</a> to continue.
	<%end%>

	<%if current_user%>

		<h2><%=link_to @child.name, child_path(@child)%></h2> <br>
		<h3><%=@child.birthday%></h3>
		<h3><%=@child.gender%></h3>

		<h3> Age: <%=@card.age%> </h3>
				
		<h3>Weight: <%=@card.weight%><h3>
		<h3>Height: <%=@card.height%><h3>
		<h3>Advil dosage: <%=@card.advil_dosage%> mL<h3>
		<h3>Tylenol dosage: <%=@card.tylenol_dosage%> mL<h3>

		<%if @card.flu_shot == true%>
			<h3>Flu shot ? Yes!</h3>
		<%else%>
			<h3>Flu shot? Not yet</h3>
		<%end%>

		<h4>Select an age to see:</h4>
				
		<%@child.cards.each do |card|%>
			<%=link_to card.age, child_card_path(@child.id, card.id)%>  	&#9702; 
					
		<%end%>
		<br><br>

		 <%= link_to 'Edit this card', edit_child_card_path(@child.id, @card.id)%>
			

		
	<br><br>
		<%= form_tag child_card_path(@child.id, @card.id), method: "delete" %>
			<%= submit_tag "DELETE this card" %>
	<%end%>
</div>